footer {
  background-color: #656560;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px 20px #4c4c47; }
  footer div.container-footer-img a img {
    width: 2.8em;
    height: 2.8em;
    margin: 0.5em; }
  footer div.btn-contact-stats button {
    margin: 1em;
    position: 1em;
    border-color: #ac99ea; }
    footer div.btn-contact-stats button a {
      text-decoration: none;
      color: #ac99ea;
      font-size: 1em;
      font-weight: 500;
      padding: 2em; }
  footer hr.solid {
    width: 700px;
    height: 0;
    border-top: 50% thick black; }
