//Variables para las Media Query

$vistaminimobile: (
  max-width: 420px,
);
$vistatablet: (
  min-width: 1024px,
); 
$vistadesktop: (
  min-width: 1025px,
);
$vistamobile2: (
  min-width: 421px,
);

// Variables secundarias de uso

$h1: 500px;
$h1Desktop: 2rem;
$h1Mobile: 1.3rem;
$h1Mobilepocket: 0.9rem;

//Variable de colores --> primera versión | EN DESUSO

$color0: white;
$color1: grey;
$color-decorative: #363636;
$color2-decorative: #a2a2a2;
$color-span: #c0d6f6;
$color-btn: #161616;
$blur: blur(10px);

//Variable de colores nueva --> Versión definitiva 

$electric-violet-50: #fbf4ff;
$electric-violet-100: #f5e5ff;
$electric-violet-200: #ecd0ff;
$electric-violet-300: #ddacff;
$electric-violet-400: #c876ff;
$electric-violet-500: #b342ff;
$electric-violet-600: #9b0fff;
$electric-violet-700: #8b0ee2;
$electric-violet-800: #7612b7;
$electric-violet-900: #611093;
$electric-violet-950: #43006f;

//Mixins posteriores a la creación de variables --> posibles uso para la segunda versión de esta página con JavaScript y React. No se usaron en esta versión porque el código CSS y HTML, con los ID y clases ya estaba creado. Pero se han hecho estos mixins pensando en las necesidades que surgieron del código.

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flex-column($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

//Maps posteriores a la creación variables

$font--original--size--desktop: 1.5rem;
$font--original--size--mobile: 0.7rem;
$font--original--font--type: Rockwell Nova, sans-serif;
$font--alternative--size--mobile: 0.4rem;
$font--alternative--size--desktop: 1.2rem;
$font--alternative--font--type: Rockwell Nova, sans-serif;

$font--original--size--desktop--map: (
  font-size: $font--original--size--desktop,
  font-family: $font--original--font--type,
);
$font--original--size--mobile--map: (
  font-size: $font--original--size--mobile,
  font-family: $font--original--font--type,
);
$font--alternative--size--mobile--map: (
  font-size: $font--alternative--size--mobile,
  font-family: $font--alternative--font--type,
);
$font--alternative--size--desktop--map: (
  font-size: $font--alternative--size--desktop,
  font-family: $font--alternative--font--type,
);

//Placeholders

%placeholder--font--original--size--desktop {
  font-size: $font--original--size--desktop;
  font-family: $font--original--font--type;
}
%placeholder--font--original--size--mobile {
  font-size: $font--original--size--mobile;
  font-family: $font--original--font--type;
}
%placeholder--font--alternative--size--mobile {
  font-size: $font--alternative--size--mobile;
  font-family: $font--alternative--font--type;
}
%placeholder--font--alternative--size--desktop {
  font-size: $font--alternative--size--desktop;
  font-family: $font--alternative--font--type;
}

//CSS style.css --> SCSS --> estilos.css (VERSIÓN DEFINITIVA)
//HEADER
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
  @import url("https://fonts.google;apis.com/css2?family=RocknRoll+One&display=swap");
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
  background: radial-gradient(circle, rgba(254,211,230,1) 5%, rgba(179,180,227,1) 100%);
}
header {
  div.header-title-hero {
    margin: 1.2em;
    h1 {
      font-size: $h1Mobilepocket * 2;
      font-weight: 999;
      text-align: center;
      border-radius: 18px;
      padding: 1em;
      background: $electric-violet-100;
    }
    @media screen and ($vistamobile2) {
        h1 {
          font-size: $h1Desktop * 2;
          font-weight: 999;
          text-align: center;
        }
    }
  }
  @media screen and ($vistamobile2) {
    div.header-title-hero {
      border-radius: 10px;
    }
  }
  div.header-title-hero-2 {
      h2.animated-text {
        z-index: -1;
        height: 300px;
        padding: 30px;
        white-space: wrap;
        letter-spacing: 0.2em;
        animation: typing 3.5s steps(40, start), blink-caret 0.75s step-end infinite;
      }
      
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: #656560;
        }
      }
    }
    @media screen and ($vistaminimobile) {
      div.header-title-hero {
        border-radius: 10px;
      }
      div.header-title-hero-2 {
        h2.animated-text {
          display: none;
        }
      }
    }
}
//MAIN
//MAIN-SYSTEM
main#system {
  section.intro-system {
    div.container-intro-system {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 3em;
      margin-top: 10em;
      padding: 2em;
      border-radius: 18px;
      background: #ffffff;
      box-shadow: 15px 15px 32px #808080, -31px -31px 63px #ffffff;
      width: (50%, 1024px, 70%);
      p {

      }
    }
  }
}
//CAROUSEL
section.carousel-autoplay {
  div {
    div {
      div.tiny-img {
        img {
          width: 0.5em;
          height: 50%;
        }
      }
    }
  }
}
//SERVICES-MAIN
section.intro-services {
  div.container-intro-services {
    margin: 1.2em;
    background-color: $electric-violet-900;
    border-radius: 18px;
    h2 {
      font-size: 1.5em;
      font-weight: 999;
      text-align: center;
      margin: 0.5em;
      padding: 0.5em;
      color: $electric-violet-50;
    }
    p {
      font-size: 1em;
      font-weight: 500;
      text-align: left;
      margin: 1em;
      padding: 1em;
      color: $electric-violet-50;
    }
  }
}
@media screen and ($vistaminimobile) {
  section.intro-services {
    div.container-intro-services {
      margin: 2.3em;
      background-color: $electric-violet-900;
      h2 {
        font-size: 1.5em;
        font-weight: 999;
        text-align: center;
        margin: 1em;
        padding: 1em;
      }
      p {
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        margin: 1em;
        padding: 1em;
      }
    }
  }
}
@media screen and ($vistamobile2) {
  section.intro-services {
    div.container-intro-services {
      margin: 2.3em;
      background-color: $electric-violet-900;
      h2 {
        font-size: 1.5em;
        font-weight: 999;
        text-align: center;
        margin: 1em;
        padding: 1em;
      }
      p {
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        margin: 1em;
        padding: 1em;
      }
    }
  }
}
//FORM
main#form-container-different-main{
  article.form-glass-effect{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2em;
    margin: 2em;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    *{  
      label{ 
        font-size: 1.3em;
        font-weight: 500;
        text-align: center;
        margin: 0;
        padding: 1rem;
        color: $electric-violet-600;
        text-shadow: #4c4c47;
      }
      button{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        margin: 1em;
        border-color: $color-btn;
        animation: flash infinite;
        animation-duration: 3s;
        a{
          text-decoration:none;
          color: $color-btn;
          font-size: 1em;
          font-weight: 500;
          padding: 0.2em;
          color: $color0;
        }
      }
    }
  }
}
//PAY-MAIN
main#pay  {
  section.introduction-to-pay {
    div.container-h2 {
      h2 {
        font-size: 1.5em;
        font-weight: 999;
        text-align: center;
        margin-top: 7rem;
        margin-bottom: 1em;
        padding: 1em;
      }
    }
    div.container-unique-pay {
      p {
        text-align: left;
        margin: 3em;
        padding: 2em;
        text-shadow: #4c4c47;
      }
    }
  }
  section.grid-pay-examples {
    div.four__types__of__pay {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      div.container-pay {
        border-radius: 18px;
        margin: 1.2em;
        padding: 1em;
        box-shadow: 15px 15px 32px #808080, -31px -31px 63px #ffffff;
        background: linear-gradient(156deg, rgba(142,142,142,1) 0%, rgba(169,169,255,1) 46%, rgba(183,243,255,1) 100%);
        color: $color0;
        h3{
        }
        p {
        }
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    @media screen and ($vistamobile2) {
      div.four__types__of__pay {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        div.container-pay {
          border-radius: 18px;
          margin: 1.2em;
          padding: 1em;
          background: linear-gradient(156deg, rgba(142,142,142,1) 0%, rgba(169,169,255,1) 46%, rgba(183,243,255,1) 100%);          
          h3{
          }
          p {
          }
        }
        .one {
          grid-column-start: 1;
          grid-column-end: 1;
          grid-row-start: 1;
          grid-row-end: 1;
        }
        .two {
          grid-column-start: 2;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 1;
        } 
        .three {
          grid-column-start: 1;
          grid-column-end: 1;
          grid-row-start: 2;
          grid-row-end: 2;
        }
        .four {
          grid-column-start: 2;
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 2;
        } 
      }
    }
  }
}
//SYSTEM-MAIN
main#system {
  @media screen and ($vistaminimobile) {
    section.intro-system {
      div.container-intro-system {
        p {
          font-size: 1em;
          font-weight: 500;
          text-align: left;
          margin: 1em;
          padding: 1em;
          color: $electric-violet-700;
        }
        div#img__uniform 
        {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          img {
            width: 75%;
            height: auto;
          }
        }
      }
    }
  }
  @media screen and ($vistamobile2) {
    section.intro-system {
      div.container-intro-system {
        p {
          font-size: 1em;
          font-weight: 500;
          text-align: left;
          margin: 1em;
          padding: 1em;
          color: $electric-violet-700;
        }
        div#img__uniform 
        {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          img {
            width: 75%;
            height: auto;
          }
        }
      }
    }
  }
  @media screen and ($vistatablet) {
    section.intro-system {
      div.container-intro-system {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1em;
        margin: 1.2em;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 2em;
        margin: 2em;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            p {
          font-size: 1em;
          font-weight: 500;
          text-align: left;
          margin: 1em;
          padding: 1em;
          color: $electric-violet-500;
        }
        div#img__uniform 
        {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          img {
            width: 75%;
            height: auto;
          }
        }
      }
    }
  }
  @media screen and ($vistadesktop) {
    section.intro-system {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1em;
      margin: 1.2em;
      div.container-intro-system {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 2em;
        margin: 2em;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        p {
          font-size: 1em;
          font-weight: 500;
          text-align: left;
          margin: 1em;
          padding: 1em;
          color: $electric-violet-500;
        }
        div#img__uniform 
        {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
  //ABOUT-ME-MAIN
main#about-me {
  section.intro-about {
    div.container-h2-specific {
      h2 {
        font-size: 1.5em;
        font-weight: 999;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1em;
        padding: 1em;
      }
    }
  }
    div.container-p-specific {
      p {
        text-align: left;
        margin: 1em;
        padding: 1em;
        text-shadow: #4c4c47;
      }
    }
      div.container-img-about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          width: 75%;
          height: auto;
        }
    }
  }
//CARDS-MAIN
section.description-main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1em;
    div.card-desc, div.card-desc-2, div.card-desc-3, div.card-desc-4 {
      border-radius: 18px;
      background-color: $electric-violet-200;
      margin: 1em;
      box-shadow: $electric-violet-950 0px 0px 10px 0.1px;
      .card-title {
        font-size: 1.5em;
        font-weight: 999;
        text-align: center;
        margin: 1em;
        padding: 1em;
      }
      .small-desc {
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        margin: 1em;
        padding: 1em;
      }
  }
}
@media screen and ($vistamobile2) {
  section.description-main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 2em;
    margin-top: 2.3em;
    div {
      border-radius: 18px;
      background-color: $electric-violet-200;
      margin: 0.5em;
      box-shadow: $electric-violet-950 0px 0px 10px 0.1px;
      .card-title {
        font-size: 1.5em;
        font-weight: 999;
        text-align: center;
        margin: 1em;
        padding: 1em;
      }
      .small-desc {
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        margin: 1em;
        padding: 1em;
      }
    }
  }
}
//FOOTER
footer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div.container-footer-img {
    border-radius: 22px;
    background-color: $electric-violet-300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 1em;
    &:hover  {
      animation: shake infinite;
      animation-duration: 1s;
    }
    
    a {
      img {
        width: 2.8em;
        height: 2.8em;
        margin: 0.5em;
        color: black;
      }
    }
  }

  div.btn-contact-stats {
    button {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      margin: 1em;
      border-color: $color-btn;
      animation: flash infinite;
      animation-duration: 3s;
      a {
        text-decoration: none;
        color: $color-btn;
        font-size: 1em;
        font-weight: 500;
        padding: 0.2em;
        color: $color0;
      }
    }
  }

  div.container-footer-line {
    min-width: 320px;
    max-width: 1024px;
    height: 0;
    margin: auto;
    border: black solid 1px;
  }

  div.container-footer {
    color: $color-btn;
    min-width: 320px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: small;
    }
  }
  @media screen and ($vistaminimobile) {
    div.container-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2em;
    width: 100px;
    padding: 30px;
  }
}
footer#contact-btn-display-none{
  div.container-footer-img{
  }
  div.btn-contact-stats{
    *{
      display:none;
    }
  }
  div.container-footer-line{
  }
  div.container-footer{
  }
}
