//Variables y otras cosas

$vistaminimobile: (max-width: 320px);
$vistamobile: (max-width: 768px);
$vistatablet: (max-width: 1024px);
$vistadesktop: (min-width: 1025px);
$h1: 500px;
$h1Desktop: 2rem;
$h1Mobile: 1.3rem;
$h1Mobilepocket: 0.9rem;

//Variable de colores

$color0: #1f1f1f;
$color1: #292929;
$color-decorative: #190649;
$color2-decorative: #5a2ac1;
$color-span: #6da7ff;
$color-btn: #ac99ea;


//Placeholders

//Mixins
$font--original--size--desktop: 1.5rem;
$font--original--size--mobile: 0.7rem;
$font--original--font--type: Montserrat, sans-serif;
$font--alternative--size--mobile: 0.4rem;
$font--alternative--size--desktop: 1rem;
$font--alternative--font--type: Montserrat, sans-serif;
$color--original--palette--gray: #656560;
$color--original--palette--white: #ccccc1;
$color--original--palette--black: #4c4c47;
$color--original--palette--red: #ff0000;

//Traspaso de información de un archivo a otro
//FOOTER
footer {
    background-color: $color--original--palette--gray;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 20px $color--original--palette--black;
    div.container-footer-img {
        a {
           
            img {
                width: 2.8em;
                height: 2.8em;
                margin: 0.5em;
            }
        }
    }
    div.btn-contact-stats {
        button {
        margin: 1em;
        position: 1em;
        border-color: $color-btn;
            a {
                text-decoration: none;
                color: $color-btn;
                font-size: 1em;
                font-weight: 500;
                padding: 2em;
            }
        }
    }

    hr.solid {
        width: 700px;
        height: 0;
        border-top: 50% thick black;
    }
}